<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#@ include file="$(SolutionDir)EnsureArg.T4Scripts\EnsureArgCommon.t4"#>
namespace EnsureArg.Tests
{
   using System;
   using EnsureArg;
   using FluentAssertions;
   using Microsoft.VisualStudio.TestTools.UnitTesting;

   [TestClass]
   public class IComparablePrimitiveExtensions_Tests
   {  
      <#@ include file="$(SolutionDir)EnsureArg.T4Scripts\GetValueMethod.t4"#>

<#

      foreach (Type type in PrimitiveComparableTypes)
      {
         string typeName = GetTypeName(type);
#>
      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThan_is_called_with_a_larger_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThan(GetValue<<#= typeName #>>(5));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThan_is_called_with_a_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThan(GetValue<<#= typeName #>>(15));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThan_is_called_with_a_same_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThan(GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThanOrEqualTo_is_called_with_a_larger_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThanOrEqualTo(GetValue<<#= typeName #>>(5));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThanOrEqualTo_is_called_with_a_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThanOrEqualTo(GetValue<<#= typeName #>>(15));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsLessThanOrEqualTo_is_called_with_a_same_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsLessThanOrEqualTo(GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThan_is_called_with_a_larger_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThan(GetValue<<#= typeName #>>(5));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThan_is_called_with_a_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThan(GetValue<<#= typeName #>>(15));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThan_is_called_with_a_same_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThan(GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThanOrEqualTo_is_called_with_a_larger_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThanOrEqualTo(GetValue<<#= typeName #>>(5));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThanOrEqualTo_is_called_with_a_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThanOrEqualTo(GetValue<<#= typeName #>>(15));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsGreaterThanOrEqualTo_is_called_with_a_same_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsGreaterThanOrEqualTo(GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetween_is_called_with_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetween(GetValue<<#= typeName #>>(20), GetValue<<#= typeName #>>(30));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetween_is_called_with_in_between_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetween(GetValue<<#= typeName #>>(5), GetValue<<#= typeName #>>(20));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetween_is_called_with_higher_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetween(GetValue<<#= typeName #>>(1), GetValue<<#= typeName #>>(9));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetween_is_called_with_min_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetween(GetValue<<#= typeName #>>(10), GetValue<<#= typeName #>>(20));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetween_is_called_with_max_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetween(GetValue<<#= typeName #>>(0), GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetweenOrEqualTo_is_called_with_lower_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetweenOrEqualTo(GetValue<<#= typeName #>>(20), GetValue<<#= typeName #>>(30));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetweenOrEqualTo_is_called_with_in_between_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetweenOrEqualTo(GetValue<<#= typeName #>>(5), GetValue<<#= typeName #>>(20));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetweenOrEqualTo_is_called_with_higher_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetweenOrEqualTo(GetValue<<#= typeName #>>(1), GetValue<<#= typeName #>>(9));

         // Assert.
         action.ShouldThrow<ArgumentOutOfRangeException>();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetweenOrEqualTo_is_called_with_min_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetweenOrEqualTo(GetValue<<#= typeName #>>(10), GetValue<<#= typeName #>>(20));

         // Assert.
         action.ShouldNotThrow();
      }

      [TestMethod]
      public void When_<#= typeName #>EnsureArg_IsBetweenOrEqualTo_is_called_with_max_value()
      {
         // Arrange.
         <#= typeName #> value = GetValue<<#= typeName #>>(10);

         // Act.
         Action action = () =>
            Ensure.Arg(value).IsBetweenOrEqualTo(GetValue<<#= typeName #>>(0), GetValue<<#= typeName #>>(10));

         // Assert.
         action.ShouldNotThrow();
      }
<#
      } 
#>  
   }
}
